---
---

{% include header.html title="Engagement photos" %}

		<!-- Engagement photos -->
			<section id="engagement_photos" class="main style3 primary">
				<div class="content box container" style="background-color: rgba(255, 255, 255, 0.7);">
					<header>
						<h2>Algunas fotos</h2>
					</header>
					
					<!--
						 Lightbox Gallery
						 
						 Powered by poptrox. Full docs here: https://github.com/n33/jquery.poptrox
					-->
						<div class="container small gallery">
							<!--<div class="row images">
								<div class="3u"><a href="images/fulls/01.jpg" class="image full"><img src="images/thumbs/01.jpg" title="The Anonymous Red" alt="" /></a></div>
								<div class="3u"><a href="images/fulls/02.jpg" class="image full"><img src="images/thumbs/02.jpg" title="Airchitecture II" alt="" /></a></div>
								<div class="3u"><a href="images/fulls/03.jpg" class="image full"><img src="images/thumbs/03.jpg" title="Air Lounge" alt="" /></a></div>
								<div class="3u"><a href="images/fulls/04.jpg" class="image full"><img src="images/thumbs/04.jpg" title="Carry on" alt="" /></a></div>
							</div>
							<div class="row images">
								<div class="3u"><a href="images/fulls/05.jpg" class="image full l"><img src="images/thumbs/05.jpg" title="The sparkling shell" alt="" /></a></div>
								<div class="3u"><a href="images/fulls/06.jpg" class="image full r"><img src="images/thumbs/06.jpg" title="Bent IX" alt="" /></a></div>
								<div class="3u"><a href="images/fulls/01.jpg" class="image full"><img src="images/thumbs/01.jpg" title="The Anonymous Red" alt="" /></a></div>
								<div class="3u"><a href="images/fulls/02.jpg" class="image full"><img src="images/thumbs/02.jpg" title="Airchitecture II" alt="" /></a></div>
								
							</div>-->
							<div class="row images">

								<div class="3u"><a href="images/galeria/51.jpg" class="image full"><img src="images/galeria/51.jpg" title="El día que nos conocimos (2007)" alt="Fotos de la pareja" /></a></div>
								<div class="3u"><a href="images/galeria/52.jpg" class="image full"><img src="images/galeria/52.jpg" title="La pedida de mano (Paracas, 2017)" alt="Fotos de la pareja" /></a></div>
<div class="3u"><a href="images/galeria/1.jpg" class="image full"><img src="images/galeria/1.jpg" title="Nuestros primeros años" alt="Fotos de la pareja" /></a></div>
<div class="3u"><a href="images/galeria/2.jpg" class="image full"><img src="images/galeria/2.jpg" title="Toledo (2010)" alt="Fotos de la pareja" /></a></div>
<div class="3u"><a href="images/galeria/3.jpg" class="image full"><img src="images/galeria/3.jpg" title="Toledo (2010)" alt="Fotos de la pareja" /></a></div>
<div class="3u"><a href="images/galeria/4.jpg" class="image full"><img src="images/galeria/4.jpg" title="Una ronda (2011)" alt="Fotos de la pareja" /></a></div>
<div class="3u"><a href="images/galeria/5.jpg" class="image full"><img src="images/galeria/5.jpg" title="La Rioja (2014)" alt="Fotos de la pareja" /></a></div>
<div class="3u"><a href="images/galeria/6.jpg" class="image full"><img src="images/galeria/6.jpg" title="Florencia (2014)" alt="Fotos de la pareja" /></a></div>
<div class="3u"><a href="images/galeria/7.jpg" class="image full"><img src="images/galeria/7.jpg" title="Menorca (2015)" alt="Fotos de la pareja" /></a></div>
<div class="3u"><a href="images/galeria/8.jpg" class="image full"><img src="images/galeria/8.jpg" title="Menorca (2015)" alt="Fotos de la pareja" /></a></div>
<div class="3u"><a href="images/galeria/9.jpg" class="image full"><img src="images/galeria/9.jpg" title="Menorca (2015)" alt="Fotos de la pareja" /></a></div>
<div class="3u"><a href="images/galeria/10.jpg" class="image full"><img src="images/galeria/10.jpg" title="Menorca (2015)" alt="Fotos de la pareja" /></a></div>
<div class="3u"><a href="images/galeria/11.jpg" class="image full"><img src="images/galeria/11.jpg" title="Chorros del Rio Mundo (2016)" alt="Fotos de la pareja" /></a></div>
<div class="3u"><a href="images/galeria/12.jpg" class="image full"><img src="images/galeria/12.jpg" title="Riopar (2016)" alt="Fotos de la pareja" /></a></div>
<div class="3u"><a href="images/galeria/13.jpg" class="image full"><img src="images/galeria/13.jpg" title="Córdoba (2016)" alt="Fotos de la pareja" /></a></div>
<div class="3u"><a href="images/galeria/14.jpg" class="image full"><img src="images/galeria/14.jpg" title="Sevilla (2016)" alt="Fotos de la pareja" /></a></div>
<div class="3u"><a href="images/galeria/15.jpg" class="image full"><img src="images/galeria/15.jpg" title="Sevilla (2016)" alt="Fotos de la pareja" /></a></div>
<div class="3u"><a href="images/galeria/16.jpg" class="image full"><img src="images/galeria/16.jpg" title="Sevilla (2016)" alt="Fotos de la pareja" /></a></div>
<div class="3u"><a href="images/galeria/17.jpg" class="image full"><img src="images/galeria/17.jpg" title="Caudiel (2017)" alt="Fotos de la pareja" /></a></div>
<div class="3u"><a href="images/galeria/18.jpg" class="image full"><img src="images/galeria/18.jpg" title="Machu Picchu (2017)" alt="Fotos de la pareja" /></a></div>
<div class="3u"><a href="images/galeria/19.jpg" class="image full"><img src="images/galeria/19.jpg" title="Machu Picchu (2017)" alt="Fotos de la pareja" /></a></div>
<div class="3u"><a href="images/galeria/20.jpg" class="image full"><img src="images/galeria/20.jpg" title="Machu Picchu (2017)" alt="Fotos de la pareja" /></a></div>
<div class="3u"><a href="images/galeria/21.jpg" class="image full"><img src="images/galeria/21.jpg" title="Machu Picchu (2017)" alt="Fotos de la pareja" /></a></div>
<div class="3u"><a href="images/galeria/22.jpg" class="image full"><img src="images/galeria/22.jpg" title="Machu Picchu (2017)" alt="Fotos de la pareja" /></a></div>
<div class="3u"><a href="images/galeria/23.jpg" class="image full"><img src="images/galeria/23.jpg" title="Salar de Maras (2017)" alt="Fotos de la pareja" /></a></div>
<div class="3u"><a href="images/galeria/24.jpg" class="image full"><img src="images/galeria/24.jpg" title="Arequipa (2017)" alt="Fotos de la pareja" /></a></div>
<div class="3u"><a href="images/galeria/25.jpg" class="image full"><img src="images/galeria/25.jpg" title="Arequipa (2017)" alt="Fotos de la pareja" /></a></div>
<div class="3u"><a href="images/galeria/26.jpg" class="image full"><img src="images/galeria/26.jpg" title="Arequipa (2017)" alt="Fotos de la pareja" /></a></div>
<div class="3u"><a href="images/galeria/27.jpg" class="image full"><img src="images/galeria/27.jpg" title="Cañón del Colca (2017)" alt="Fotos de la pareja" /></a></div>
<div class="3u"><a href="images/galeria/28.jpg" class="image full"><img src="images/galeria/28.jpg" title="Nazca (2017)" alt="Fotos de la pareja" /></a></div>
<div class="3u"><a href="images/galeria/29.jpg" class="image full"><img src="images/galeria/29.jpg" title="Valencia (2009)" alt="Fotos de la pareja" /></a></div>
<div class="3u"><a href="images/galeria/30.jpg" class="image full"><img src="images/galeria/30.jpg" title="Cehegín (Carnaval 2010) " alt="Fotos de la pareja" /></a></div>

<div class="3u"><a href="images/galeria/31.jpg" class="image full"><img src="images/galeria/31.jpg" title="Fallas (2010)" alt="Fotos de la pareja" /></a></div>
<div class="3u"><a href="images/galeria/32.jpg" class="image full"><img src="images/galeria/32.jpg" title="Viena (2016)" alt="Fotos de la pareja" /></a></div>
<div class="3u"><a href="images/galeria/33.jpg" class="image full"><img src="images/galeria/33.jpg" title="Caudiel (2016)" alt="Fotos de la pareja" /></a></div>
<div class="3u"><a href="images/galeria/34.jpg" class="image full"><img src="images/galeria/34.jpg" title="Granada (2017)" alt="Fotos de la pareja" /></a></div>
<div class="3u"><a href="images/galeria/35.jpg" class="image full"><img src="images/galeria/35.jpg" title="Alborache (Boda Fermín y Gemma - 2016)" alt="Fotos de la pareja" /></a></div>
<div class="3u"><a href="images/galeria/36.jpg" class="image full"><img src="images/galeria/36.jpg" title="Viena (2016)" alt="Fotos de la pareja" /></a></div>
<div class="3u"><a href="images/galeria/37.jpg" class="image full"><img src="images/galeria/37.jpg" title="Viena (2016)" alt="Fotos de la pareja" /></a></div>
<div class="3u"><a href="images/galeria/38.jpg" class="image full"><img src="images/galeria/38.jpg" title="Cehegín (2016)" alt="Fotos de la pareja" /></a></div>
<div class="3u"><a href="images/galeria/39.jpg" class="image full"><img src="images/galeria/39.jpg" title="Cehegín (2016)" alt="Fotos de la pareja" /></a></div>

<div class="3u"><a href="images/galeria/40.jpg" class="image full"><img src="images/galeria/40.jpg" title="Cehegín (2016)" alt="Fotos de la pareja" /></a></div>
<div class="3u"><a href="images/galeria/41.jpg" class="image full"><img src="images/galeria/41.jpg" title="Sierra Nevada (2017)" alt="Fotos de la pareja" /></a></div>
<div class="3u"><a href="images/galeria/42.jpg" class="image full"><img src="images/galeria/42.jpg" title="Fallas(2017)" alt="Fotos de la pareja" /></a></div>
<div class="3u"><a href="images/galeria/43.jpg" class="image full"><img src="images/galeria/43.jpg" title="Caudiel (2010)" alt="Fotos de la pareja" /></a></div>
<div class="3u"><a href="images/galeria/44.jpg" class="image full"><img src="images/galeria/44.jpg" title="París (2011)" alt="Fotos de la pareja" /></a></div>
<div class="3u"><a href="images/galeria/45.jpg" class="image full"><img src="images/galeria/45.jpg" title="París (2011)" alt="Fotos de la pareja" /></a></div>
<div class="3u"><a href="images/galeria/46.jpg" class="image full"><img src="images/galeria/46.jpg" title="Florencia (2014)" alt="Fotos de la pareja" /></a></div>
<div class="3u"><a href="images/galeria/47.jpg" class="image full"><img src="images/galeria/47.jpg" title="Florencia (2014)" alt="Fotos de la pareja" /></a></div>
<div class="3u"><a href="images/galeria/48.jpg" class="image full"><img src="images/galeria/48.jpg" title="Pisa (2014)" alt="Fotos de la pareja" /></a></div>
<div class="3u"><a href="images/galeria/49.jpg" class="image full"><img src="images/galeria/49.jpg" title="Cabo de Gata (2014)" alt="Fotos de la pareja" /></a></div>

<div class="3u"><a href="images/galeria/50.jpg" class="image full"><img src="images/galeria/50.jpg" title="Andorra (2015)" alt="Fotos de la pareja" /></a></div>


							</div>

						</div>

				</div>
			</section>	

{% include footer.html %}
