---
redirect_from: /registry
---
{% include header.html title="Registry information" %}		

		<!-- Registry info -->
	<section id="registry" class="main style3 primary">
		<div class="content box container" style="background-color: rgba(255, 255, 255, 0.7);">
			<header>
				<h2>Información para regalos</h2>
			</header>
			
			<!-- <p>We are registered at: 
			<ul>
				<li><a href="https://www.bedbathandbeyond.com:443/store/giftregistry/view_registry_guest.jsp?registryId=541394164&eventType=Wedding&pwsurl=">Bed Bath & Beyond</a></li>
				<li><a href="http://www1.macys.com/registry/wedding/guest/?registryId=6228702">Macy's</a></li>
				<li>And possibly more places which we will post here.</li>
			</ul>
			</p>
 -->
 
	</section>
			
<!-- Footer -->
{% include footer.html %}

